[Unit]
Description=cmd_exporter
After=network.target

[Service]
Environment=CMD_OPTIONS=
Environment=CONFIG_FILE=/etc/cmd_exporter.yml
Type=simple
User=root
Group=root
ExecStart="/opt/cmd_exporter/cmd_exporter" --config "${CONFIG_FILE}" ${CMD_OPTIONS}

[Install]
WantedBy=multi-user.target